/*h1{background:cyan;}
@media (max-width:800px){
#qrCodeImg{display:none;} /*hide QR
code when its mobile size*/ 

/*h1{background: lightgreen;}
h1::after{content:"(mobile)";}
}*/
body{
    background-color: black;
}
@media(min-width: 801px)
{
    
    .Header{
        /*background-color: aqua;*/
        position: relative;
        
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100vh;
        color: white;

        font-size: 50px;
        font-weight: bold;
        text-decoration: underline;
    }

    .Header::before{
        content: "";
        
        position:absolute;
        top: 0px; right: 0px; bottom: 0px; left: 0px;
        background-image: url(images/topImage.jpg);
        background-size: cover;
        background-position: top center;
        opacity: 0.4;
        z-index: -1;
    }

    .Sect_1{
        color: white;
        text-align: center;
    }

    .para1{
        /*max-width: 500px;*/
        border: 1px solid white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .para1 img{
        margin: auto;
    }

    .Sect_1 article{
        font-size: 17px;
        text-align: left;
        max-width: 750px;
        border: 1px solid white;

        display: flex;
        /*flex-direction: column;*/
        align-items: center;
        justify-content: center;
    }

    .Sect_2{
        color: white;
        text-align: center;
    }

    .para2{
        font-size: 20px;
        text-align: left;

        

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr) ;
        padding-left: 80px;
        max-width: 700px;
        margin: auto;

        border: 1px solid white;
    }


    .para2 img{
        padding-top: 10px;
    }

    .Sect_3{
        color: white;
        text-align: center;
    }

    .para3{
        text-align: left;
        font-size: 20px;
        border: 1px solid white;
        display: flex;

        max-width: 1800px;
        margin: auto;
    }

    img[title="stressed"]{
        padding-right: 10px;
    }


        img[title="cardiovascular"]{
            padding-top: 500px;
        }



    .Sect_3 article{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        max-width: 700px;
        font-size: 30px;
    }
}






/*Game styling*/
#scoreBox{
    color: white;
}


.gameScene{
    background-color: green;
    width: 100%;
    height: 1000px;
}

#box{
    position: relative;
    top: 100%;
    width: 50px; height: 50px;
}

#junkBox{
    position: relative;
    top: 100px; left: 500px;
    width: 50px; height: 50px;
    
}


@media(max-width: 800px) {
    /*body{
        background-color: white;
    }*/
    .Header{
        /*background-color: aqua;*/
        position: relative;
        
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100vh;
        color: white;

        font-size: 30px;
        font-weight: bold;
        text-decoration: underline;
    }

    .Header::before{
        content: "";
        
        position:absolute;
        top: 0px; right: 0px; bottom: 0px; left: 0px;
        background-image: url(images/topImage.jpg);
        background-size: cover;
        background-position: top center;
        width: 1000px;
        height: 800px;

        opacity: 0.4;
        z-index: -1;
    }
    .Header::after{content:" (mobile)";}


    .Sect_1{
        font-size: 1.4em;
        padding: min(3em,8%);
        color: white;
        text-align: center;
    }

    .para1{
        /*max-width: 500px;*/
        border: 1px solid white;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        
    }
    .para1 img{
        margin: auto;
    }

    .Sect_1 article{
        font-size: 20px;
        text-align: left;
        max-width: 750px;

        
        border: 1px solid white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Sect_1 article img{
        width: 15em;
        height: 15em;
    }

    .Sect_2{
        font-size: 1.4em;
        padding: min(3em,8%);
        color: white;
        text-align: center;
    }

    .para2{
        font-size: 20px;
        text-align: left;

        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        grid-template-rows: 200px 1fr 200px 1fr 100px 1fr;

        /*padding-left: 80px;*/
        padding: min(2em,8%);
        max-width: 700px;
        margin: auto;

        border: 1px solid white;
    }
    
    
    img[title="poor sleep"]{
        grid-area: 4/1;
        margin: auto;
        width: 70vw;
        height: 50vw;
    } 

    .para2 img{
          
        padding: min(2em,8%); 
    }

    img[title="Unhealthy"]{
        margin: auto;
    }

    .Sect_3{
        color: white;
        text-align: center;
    }

    .para3{
        text-align: left;
        font-size: 20px;
        border: 1px solid white;
        display: flex;
        flex-direction: column;

        max-width: 1800px;
        padding: min(2em,8%); 
    }

    img[title="stressed"]{
        margin: auto;
    }

    img[title="cardiovascular"]{
        margin: auto;
    }

    .Sect_3 article{
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        max-width: 500px;
        font-size: 20px;
    }

    .Sect_3 article img{
        width: 170px;
        height: 170px;
    }

    #qrCodeImg{display:none;}
}